@import '../../../styles/variables';

:host {
  display: block;
  margin-bottom: 10px;
}

.Breed-Input-Options {
  max-width: $MAX-FORM-WIDTH;
  margin: 0 auto;
  height: 50px;
  position: relative;

  input, .Breed-Input-Dropdown-Option {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: 'Apercu Regular';
    color: $TEXT-COLOR;
    width: 100%;
    outline: none;
    appearance: none;
    border: 0px;
  }

  input {
    border-bottom: 2px solid $DANDY-RED;
    &::placeholder {
      color: #8595b4;
    }
  }

  .Breed-Input-Dropdown-Option {
    text-align: left;
    cursor: pointer;

    div {
      margin: 0px 13px;
      border-bottom: 1px solid#e4e4e4;
    }

    &.Active, &:hover {
      background-color: $DANDY-RED;
      color: white;

      span {
        border-bottom: 0px;
      }
    }
  }

  .Breed-Input-Dropdown {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    border: 2px solid $DANDY-RED;
    border-top: 0px solid;
    left: 0px;
    right: 0px;
    max-height: 300px;
    overflow-y: auto;
  }

  .Breed-Input-Dropdown-Unique {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Apercu Regular';
    background-color: #f8f7ea;
    padding: 13px;
    border: 1px solid #ffdd6d;
    margin: 10px 13px;
  }
}