<div class="Breed-Input-Options">
  <form [formGroup]="form">
    <input type="text" class="Breed-Input-Input" formControlName="breedName" placeholder="Select breed">
  </form>
  <div class="Breed-Input-Dropdown" *ngIf="isDropdownOpen">
    <div class="Breed-Input-Dropdown-Option"
      *ngFor="let breed of breedMatches; let i = index"
      [ngClass]="{'Active': i === activeDropdownOption }"
      (click)="selectBreedMatch(breed)">
      <div>{{breed.name}}</div>
    </div>
    <div class="Breed-Input-Dropdown-Unique" *ngIf="hasNoBreedMatches">
      No results found. Press enter to add your dog's unique breed or select multiple breeds.
    </div>
  </div>
</div>