button {
  background-color: $DANDY-RED;
  color: white;
  height: 50px;
  line-height: 50px;
  font-family: 'Apercu Mono Regular';
  font-size: 24px;
  letter-spacing: 0.6px;
  cursor: pointer;

  &:hover {
    background-color: darken($DANDY-RED, 10%);
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}