body {
  font-family: 'Apercu Bold', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: $TEXT-COLOR;
}

h1, h2 {
  font-family: 'Apercu Bold', sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 1.25;
}

h2 {
  font-size: 48px;
  line-height: 1.33;
}

h3, h4, h5 {
  font-family: 'Apercu Medium', sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 { 
  font-size: 20px;
}

label {
  font-family: 'Apercu Mono Regular';
  text-transform: uppercase;
  font-size: 14px;
}