@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  padding: 0px 130px;
  flex: 1 1 auto;

  @media screen and (max-width: 768px) {
    padding: 0px 10px;
  }
}

.Quiz-Wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  position: relative;
}

.Quiz-Outline {
  border: 2px solid $DANDY-RED;
  flex: 1 1 auto;
  background-color: white;
  position: relative;
  z-index: 2;

  padding-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.Quiz-Shadow {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 70px;
  right: 0px;
  background-color: $DANDY-RED;
}

.Quiz-Image-Wrapper {
  flex: 0 0 130px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .Quiz-Image {
    background-color: grey;
    height: 130px;
    width: 130px;
  }
}

.Quiz-Question {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 44px;

  p {
    max-width: 680px;
    margin: 0 auto;
  }
}

.Quiz-Subheader {
  font-family: 'Apercu Regular';
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;

  p {
    max-width: 580px;
    margin: 0 auto;
  }
}

.Quiz-Add-Breed {
  height: 50px;
  display: flex;
  align-items: center;
  max-width: $MAX-FORM-WIDTH;
  margin: 20px auto;
  cursor: pointer;
}

.Quiz-Next {
  max-width: $MAX-FORM-WIDTH;
  width: 100%;
  margin: 0px auto;
  display: flex;
  button {
    flex: 1 1 auto;
    display: block;
  }
}