<div class="Quiz-Wrapper">
  <div class="Quiz-Outline" *ngIf="currentStep === 0">
    <div class="Quiz-Image-Wrapper">
      <div class="Quiz-Image"></div>
    </div>
    <div class="Quiz-Question">
      <p>What breed is Milly?</p>
      <app-breed-input *ngFor="let selection of selectedBreeds" [selectedBreed]="selection"></app-breed-input>
      <div class="Quiz-Add-Breed" (click)="addBreed()" *ngIf="selectedBreeds.length < maxBreeds">
        <img src="assets/icons/add-blue.svg">
        <label>Add Breed</label>
      </div>
      <!-- <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor?</h3> -->
    </div>
    <div class="Quiz-Subheader">
      <p>If you’re not sure, just select unknown (the love’s the same).</p>
    </div>
    <div class="Quiz-Next">
      <button (click)="next()" [disabled]="!checkBreedsChosen()">Next</button>
    </div>
  </div>
  <div class="Quiz-Outline" *ngIf="currentStep === 1">
    <div class="Quiz-Image-Wrapper">
      <div class="Quiz-Image"></div>
    </div>
    <div class="Quiz-Question">
      <p>{{selectedBreeds[0].name}}! One of our favorites.</p>
    </div>
    <div class="Quiz-Subheader">
      <p>We'll draw from our vet experts and data insights to tailor our treats to this breed. Just a few more q's and you're outta here.</p>
    </div>
    <div class="Quiz-Next">
      <button>Continue</button>
    </div>
  </div>
  <div class="Quiz-Shadow"></div>
</div>
