/* You can add global styles to this file, and also import other style files */
@import 'styles/reset';

@import 'styles/variables';
@import 'styles/typography';
@import 'styles/forms';

body, html, app-root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Apercu Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Regular'), url('./assets/fonts/Apercu_Regular.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Italic'), url('./assets/fonts/Apercu_Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Light';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Light'), url('./assets/fonts/Apercu_Light.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Light Italic'), url('./assets/fonts/Apercu_Light_Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Medium'), url('assets/fonts/Apercu_Medium.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Medium Italic'), url('./assets/fonts/Apercu_Medium_Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Bold'), url('./assets/fonts/Apercu_Bold.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Bold Italic'), url('./assets/fonts/Apercu_Bold_Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Mono Regular'), url('./assets/fonts/Apercu_Mono.woff') format('woff');
}